<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2134</string>
				<key>dvcode</key>
				<string>330102</string>
				<key>name</key>
				<string>上城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2135</string>
				<key>dvcode</key>
				<string>330103</string>
				<key>name</key>
				<string>下城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2142</string>
				<key>dvcode</key>
				<string>330104</string>
				<key>name</key>
				<string>江干区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2140</string>
				<key>dvcode</key>
				<string>330105</string>
				<key>name</key>
				<string>拱墅区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2146</string>
				<key>dvcode</key>
				<string>330106</string>
				<key>name</key>
				<string>西湖区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2144</string>
				<key>dvcode</key>
				<string>330108</string>
				<key>name</key>
				<string>滨江区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2145</string>
				<key>dvcode</key>
				<string>330109</string>
				<key>name</key>
				<string>萧山区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2137</string>
				<key>dvcode</key>
				<string>330110</string>
				<key>name</key>
				<string>余杭区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2141</string>
				<key>dvcode</key>
				<string>330122</string>
				<key>name</key>
				<string>桐庐县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2143</string>
				<key>dvcode</key>
				<string>330127</string>
				<key>name</key>
				<string>淳安县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2139</string>
				<key>dvcode</key>
				<string>330182</string>
				<key>name</key>
				<string>建德市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2138</string>
				<key>dvcode</key>
				<string>330183</string>
				<key>name</key>
				<string>富阳市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2136</string>
				<key>dvcode</key>
				<string>330185</string>
				<key>name</key>
				<string>临安市</string>
			</dict>
		</array>
		<key>name</key>
		<string>杭州市</string>
		<key>dvcode</key>
		<string>330100</string>
		<key>areaid</key>
		<string>175</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2154</string>
				<key>dvcode</key>
				<string>330203</string>
				<key>name</key>
				<string>海曙区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2152</string>
				<key>dvcode</key>
				<string>330204</string>
				<key>name</key>
				<string>江东区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2153</string>
				<key>dvcode</key>
				<string>330205</string>
				<key>name</key>
				<string>江北区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2148</string>
				<key>dvcode</key>
				<string>330206</string>
				<key>name</key>
				<string>北仑区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2157</string>
				<key>dvcode</key>
				<string>330211</string>
				<key>name</key>
				<string>镇海区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2156</string>
				<key>dvcode</key>
				<string>330212</string>
				<key>name</key>
				<string>鄞州区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2155</string>
				<key>dvcode</key>
				<string>330225</string>
				<key>name</key>
				<string>象山县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2150</string>
				<key>dvcode</key>
				<string>330226</string>
				<key>name</key>
				<string>宁海县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2147</string>
				<key>dvcode</key>
				<string>330281</string>
				<key>name</key>
				<string>余姚市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2151</string>
				<key>dvcode</key>
				<string>330282</string>
				<key>name</key>
				<string>慈溪市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2149</string>
				<key>dvcode</key>
				<string>330283</string>
				<key>name</key>
				<string>奉化市</string>
			</dict>
		</array>
		<key>name</key>
		<string>宁波市</string>
		<key>dvcode</key>
		<string>330200</string>
		<key>areaid</key>
		<string>176</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2167</string>
				<key>dvcode</key>
				<string>330302</string>
				<key>name</key>
				<string>鹿城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2168</string>
				<key>dvcode</key>
				<string>330303</string>
				<key>name</key>
				<string>龙湾区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2165</string>
				<key>dvcode</key>
				<string>330304</string>
				<key>name</key>
				<string>瓯海区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2163</string>
				<key>dvcode</key>
				<string>330322</string>
				<key>name</key>
				<string>洞头县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2161</string>
				<key>dvcode</key>
				<string>330324</string>
				<key>name</key>
				<string>永嘉县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2159</string>
				<key>dvcode</key>
				<string>330326</string>
				<key>name</key>
				<string>平阳县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2166</string>
				<key>dvcode</key>
				<string>330327</string>
				<key>name</key>
				<string>苍南县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2160</string>
				<key>dvcode</key>
				<string>330328</string>
				<key>name</key>
				<string>文成县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2162</string>
				<key>dvcode</key>
				<string>330329</string>
				<key>name</key>
				<string>泰顺县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2164</string>
				<key>dvcode</key>
				<string>330381</string>
				<key>name</key>
				<string>瑞安市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2158</string>
				<key>dvcode</key>
				<string>330382</string>
				<key>name</key>
				<string>乐清市</string>
			</dict>
		</array>
		<key>name</key>
		<string>温州市</string>
		<key>dvcode</key>
		<string>330300</string>
		<key>areaid</key>
		<string>177</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2169</string>
				<key>dvcode</key>
				<string>330402</string>
				<key>name</key>
				<string>南湖区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2175</string>
				<key>dvcode</key>
				<string>330411</string>
				<key>name</key>
				<string>秀洲区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2170</string>
				<key>dvcode</key>
				<string>330421</string>
				<key>name</key>
				<string>嘉善县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2174</string>
				<key>dvcode</key>
				<string>330424</string>
				<key>name</key>
				<string>海盐县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2173</string>
				<key>dvcode</key>
				<string>330481</string>
				<key>name</key>
				<string>海宁市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2171</string>
				<key>dvcode</key>
				<string>330482</string>
				<key>name</key>
				<string>平湖市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2172</string>
				<key>dvcode</key>
				<string>330483</string>
				<key>name</key>
				<string>桐乡市</string>
			</dict>
		</array>
		<key>name</key>
		<string>嘉兴市</string>
		<key>dvcode</key>
		<string>330400</string>
		<key>areaid</key>
		<string>178</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2177</string>
				<key>dvcode</key>
				<string>330502</string>
				<key>name</key>
				<string>吴兴区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2176</string>
				<key>dvcode</key>
				<string>330503</string>
				<key>name</key>
				<string>南浔区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2179</string>
				<key>dvcode</key>
				<string>330521</string>
				<key>name</key>
				<string>德清县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2180</string>
				<key>dvcode</key>
				<string>330522</string>
				<key>name</key>
				<string>长兴县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2178</string>
				<key>dvcode</key>
				<string>330523</string>
				<key>name</key>
				<string>安吉县</string>
			</dict>
		</array>
		<key>name</key>
		<string>湖州市</string>
		<key>dvcode</key>
		<string>330500</string>
		<key>areaid</key>
		<string>179</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2186</string>
				<key>dvcode</key>
				<string>330602</string>
				<key>name</key>
				<string>越城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2184</string>
				<key>dvcode</key>
				<string>330621</string>
				<key>name</key>
				<string>绍兴县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2183</string>
				<key>dvcode</key>
				<string>330624</string>
				<key>name</key>
				<string>新昌县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2185</string>
				<key>dvcode</key>
				<string>330681</string>
				<key>name</key>
				<string>诸暨市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2181</string>
				<key>dvcode</key>
				<string>330682</string>
				<key>name</key>
				<string>上虞市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2182</string>
				<key>dvcode</key>
				<string>330683</string>
				<key>name</key>
				<string>嵊州市</string>
			</dict>
		</array>
		<key>name</key>
		<string>绍兴市</string>
		<key>dvcode</key>
		<string>330600</string>
		<key>areaid</key>
		<string>180</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2200</string>
				<key>dvcode</key>
				<string>330702</string>
				<key>name</key>
				<string>婺城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2205</string>
				<key>dvcode</key>
				<string>330703</string>
				<key>name</key>
				<string>金东区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2201</string>
				<key>dvcode</key>
				<string>330723</string>
				<key>name</key>
				<string>武义县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2203</string>
				<key>dvcode</key>
				<string>330726</string>
				<key>name</key>
				<string>浦江县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2204</string>
				<key>dvcode</key>
				<string>330727</string>
				<key>name</key>
				<string>磐安县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2199</string>
				<key>dvcode</key>
				<string>330781</string>
				<key>name</key>
				<string>兰溪市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2198</string>
				<key>dvcode</key>
				<string>330782</string>
				<key>name</key>
				<string>义乌市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2197</string>
				<key>dvcode</key>
				<string>330783</string>
				<key>name</key>
				<string>东阳市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2202</string>
				<key>dvcode</key>
				<string>330784</string>
				<key>name</key>
				<string>永康市</string>
			</dict>
		</array>
		<key>name</key>
		<string>金华市</string>
		<key>dvcode</key>
		<string>330700</string>
		<key>areaid</key>
		<string>183</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2193</string>
				<key>dvcode</key>
				<string>330802</string>
				<key>name</key>
				<string>柯城区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2195</string>
				<key>dvcode</key>
				<string>330803</string>
				<key>name</key>
				<string>衢江区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2191</string>
				<key>dvcode</key>
				<string>330822</string>
				<key>name</key>
				<string>常山县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2192</string>
				<key>dvcode</key>
				<string>330824</string>
				<key>name</key>
				<string>开化县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2196</string>
				<key>dvcode</key>
				<string>330825</string>
				<key>name</key>
				<string>龙游县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2194</string>
				<key>dvcode</key>
				<string>330881</string>
				<key>name</key>
				<string>江山市</string>
			</dict>
		</array>
		<key>name</key>
		<string>衢州市</string>
		<key>dvcode</key>
		<string>330800</string>
		<key>areaid</key>
		<string>182</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2187</string>
				<key>dvcode</key>
				<string>330902</string>
				<key>name</key>
				<string>定海区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2190</string>
				<key>dvcode</key>
				<string>330903</string>
				<key>name</key>
				<string>普陀区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2188</string>
				<key>dvcode</key>
				<string>330921</string>
				<key>name</key>
				<string>岱山县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2189</string>
				<key>dvcode</key>
				<string>330922</string>
				<key>name</key>
				<string>嵊泗县</string>
			</dict>
		</array>
		<key>name</key>
		<string>舟山市</string>
		<key>dvcode</key>
		<string>330900</string>
		<key>areaid</key>
		<string>181</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2210</string>
				<key>dvcode</key>
				<string>331002</string>
				<key>name</key>
				<string>椒江区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2214</string>
				<key>dvcode</key>
				<string>331003</string>
				<key>name</key>
				<string>黄岩区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2213</string>
				<key>dvcode</key>
				<string>331004</string>
				<key>name</key>
				<string>路桥区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2212</string>
				<key>dvcode</key>
				<string>331021</string>
				<key>name</key>
				<string>玉环县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2206</string>
				<key>dvcode</key>
				<string>331022</string>
				<key>name</key>
				<string>三门县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2209</string>
				<key>dvcode</key>
				<string>331023</string>
				<key>name</key>
				<string>天台县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2208</string>
				<key>dvcode</key>
				<string>331024</string>
				<key>name</key>
				<string>仙居县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2211</string>
				<key>dvcode</key>
				<string>331081</string>
				<key>name</key>
				<string>温岭市</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2207</string>
				<key>dvcode</key>
				<string>331082</string>
				<key>name</key>
				<string>临海市</string>
			</dict>
		</array>
		<key>name</key>
		<string>台州市</string>
		<key>dvcode</key>
		<string>331000</string>
		<key>areaid</key>
		<string>184</string>
	</dict>
	<dict>
		<key>regions</key>
		<array>
			<dict>
				<key>areaid</key>
				<string>2220</string>
				<key>dvcode</key>
				<string>331102</string>
				<key>name</key>
				<string>莲都区</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2222</string>
				<key>dvcode</key>
				<string>331121</string>
				<key>name</key>
				<string>青田县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2219</string>
				<key>dvcode</key>
				<string>331122</string>
				<key>name</key>
				<string>缙云县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2221</string>
				<key>dvcode</key>
				<string>331123</string>
				<key>name</key>
				<string>遂昌县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2218</string>
				<key>dvcode</key>
				<string>331124</string>
				<key>name</key>
				<string>松阳县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2215</string>
				<key>dvcode</key>
				<string>331125</string>
				<key>name</key>
				<string>云和县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2216</string>
				<key>dvcode</key>
				<string>331126</string>
				<key>name</key>
				<string>庆元县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2217</string>
				<key>dvcode</key>
				<string>331127</string>
				<key>name</key>
				<string>景宁畲族自治县</string>
			</dict>
			<dict>
				<key>areaid</key>
				<string>2223</string>
				<key>dvcode</key>
				<string>331181</string>
				<key>name</key>
				<string>龙泉市</string>
			</dict>
		</array>
		<key>name</key>
		<string>丽水市</string>
		<key>dvcode</key>
		<string>331100</string>
		<key>areaid</key>
		<string>185</string>
	</dict>
</array>
</plist>
