.title {
    text-align:left;
    font-size:18px;
    font-weight:bold;
    color:black;
    margin-left:0px;
}

.time {
    text-align:left;
    font-size:13px;
    color:gray;
    margin-top:5px;
    margin-bottom:7px;
    margin-left:0px;
}

.img-parent {
    text-align:center;
    margin-bottom:10px;
}

